        export debug=0 ;
        export drbdnode_mac_vol= ;
        export cloudfqdn=c3.cloud.suse.de ;
        export cloudsource=develcloud4 ;
        export upgrade_cloudsource= ;
        export hacloud= ;
        export libvirt_type=kvm ;
        export net_admin=192.168.56 ;
        export net_public=192.168.57 ;
        export net_fixed=192.168.123 ;
        export networkingplugin=linuxbridge ;
        export networkingmode= ;
        export nodenumber=3 ;
        export nodenumbercompute=2 ;
        export nodenumbernetworkcluster= ;
        export nodenumberservicescluster= ;
        export nodenumberdatacluster= ;
        export nosetestparameters= ;
        export tempestoptions='' ;
        export cephvolumenumber=0 ;
        export shell= ;

        export all_with_ssl= ;
        export glance_with_ssl= ;
        export keystone_with_ssl= ;
        export nova_with_ssl= ;
        export novadashboard_with_ssl= ;

        export localreposdir_target= ;

        export cinder_conf_volume_type=;
        export cinder_conf_volume_params=;

        export TESTHEAD=1 ;
        export NOINSTALLCLOUDPATTERN= ;
