        export drbdnode_mac_vol= ;
        export cloud=c3 ;
        export cloudfqdn=c3.cloud.suse.de ;
        export cloudsource=develcloud5 ;
        export upgrade_cloudsource= ;
        export adminip=192.168.56.10 ;
        export hacloud=1 ;
        export libvirt_type=kvm ;
        export networkingplugin=openvswitch ;
        export networkingmode= ;
        export nosetestparameters= ;
        export tempestoptions='' ;
        export cephvolumenumber=1 ;
        export drbd_database_size=20 ;
        export drbd_rabbitmq_size=20 ;
        export shell= ;
        export keep_existing_hostname= ;

        export nova_shared_instance_storage= ;

        export localreposdir_target= ;

        export cinder_backend=;
        export cinder_netapp_storage_protocol=iscsi;
        export cinder_netapp_login=openstack;
        export cinder_netapp_password=;

        export TESTHEAD=1 ;
        export NOINSTALLCLOUDPATTERN= ;
clusterconfig=data=2:network=3:services=5
net_admin=192.168.56
net_public=192.168.57
nodenumber=6
nodenumbercompute=1
nodenumberlonelynode=0
