        export debug=0 ;
        export cloudfqdn=c1.pranavws.suse.de ;
        export cloudsource=develcloud5 ;
        export upgrade_cloudsource= ;
        export hacloud= ;
        export libvirt_type=kvm ;
        export net_admin=192.168.152 ;
        export net_public=192.168.153 ;
        export net_fixed=192.168.123 ;
        export networkingplugin=openvswitch ;
        export networkingmode= ;
        export nodenumber=3 ;
        export nosetestparameters= ;
        export tempestoptions='' ;
        export cephvolumenumber=1 ;
        export shell= ;
        export want_swift= ;
        export want_sles12=1 ;

        export all_with_ssl= ;
        export glance_with_ssl= ;
        export keystone_with_ssl= ;
        export nova_with_ssl= ;
        export novadashboard_with_ssl= ;

        export localreposdir_target= ;

        export cinder_conf_volume_type=;
        export cinder_conf_volume_params=;

        export TESTHEAD=1 ;
        export NOINSTALLCLOUDPATTERN= ;
